// **********************************************
// SETTNGS: Font stack definitions
// Filename: _0_settings_fonts.scss
// **********************************************

$font-stack-UnitOT-regular: Helvetica, Arial, sans-serif;
$font-stack-UnitOT-light: Helvetica, Arial, sans-serif;
$font-stack-UnitOT-medium: Helvetica, Arial, sans-serif;
$font-stack-UnitOT-bold: Helvetica, Arial, sans-serif;
