// **********************************************
// COMPONENTS: Widgets
// Filename: _4_components_maps.scss
// **********************************************

.map-main-wrapper {
    left: 0;
    position: absolute;
    top: 0;
    height: 500px;
    z-index: 1;

    transition: all 100ms ease;

    $class-ext: --width !default;
    @for $i from 1 through 120 {
        &#{$class-ext}-#{$i} {
            width: calc(#{$i} * 100px);
        }
    }

    .cursor{
        position: absolute;
        width: 100px;
        height:100px;
        border: 2px solid white;

        @for $i from 1 through 120 {
            &#{$class-ext}-x#{$i} {
                left: calc(#{$i} * 100px);
            }
        }

        @for $i from 1 through 120 {
            &#{$class-ext}-y#{$i} {
                top: calc(#{$i} * 100px);
            }
        }
    }
}

.map-tile {

    background-size: cover;
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100px;
    height: 100px;

    &__OCEAN_SHALLOW {
        background-image: url("/assets/img/ocean_shallow.svg");
    }

    &__OCEAN_DEEP {
        background-image: url("/assets/img/ocean_dark.svg");
    }

    &__LAND_GRASS {
        background-color: #6fbd14;
        background-image: url("/assets/img/land_grass.jpg");
    }

}
