// **********************************************
// COMPONENTS: Sections
// Filename: _4_components_sections.scss
// **********************************************

section {
    background: $color-white;
    padding: 10px 0;
}

section + section {
    border-top: 1px solid $color-grey-medium2;
}

section > h2 {
    margin-top: 5px;
}

.col-body {
    height: 100%;
    min-height: 650px;
    padding: 0;
    width:100%;
}

.frame {
    background:$color-black;
    display: inline-block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.popup{
    background: white;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
    height: 300px;
    left: calc(100vw/2 - 250px);
    max-height: 90vh;
    max-width: 90vw;
    position: absolute;
    top: calc(100vh/2 - 150px);
    transition: all 1s ease;
    width: 500px;
    z-index: 10;

    h2{
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding: 5px 10px;
        margin: 0 0 15px 0;
        width: 100%;
    }
}
.map-outer-wrapper{
    display: inline-block;
    float: left;
    height: calc(100% - 43px);
    margin: 4px;
    overflow: hidden;
    position: relative;
    width: calc(70% - 8px);
}
