// **********************************************
// COMPONENTS: Widgets
// Filename: _4_components_maps.scss
// **********************************************

.map-main-wrapper {
    left: 0;
    position: absolute;
    top: 0;
    //width:100px;
    height: 500px;
    z-index: 1;

    $class-ext: --width !default;
    @for $i from 1 through 120 {
        &#{$class-ext}-#{$i} {
            width: calc(#{$i} * 100px);
        }
    }
}

.map-tile {

    background-size: cover;
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100px;
    height: 100px;

    &__OCEAN_SHALLOW {
        background-image: url("/assets/img/ocean_dark.svg");
    }

    &__OCEAN_DEEP {
        background-image: url("/assets/img/ocean_dark.svg");
    }

}
