// **********************************************
// COMPONENTS: Widgets
// Filename: _4_components_maps.scss
// **********************************************

@keyframes cursorblink {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.map-main-wrapper {
    left: 0;
    position: absolute;
    top: 0;
    height: 500px;
    z-index: 1;

    transition: all 100ms ease;

    $class-ext-width: --width !default;
    @for $i from 1 through 120 {
        &#{$class-ext-width}-#{$i} {
            width: calc(#{$i} * 100px);
        }
    }

    $class-ext-left: --left !default;
    @for $j from 1 through 120 {
        &#{$class-ext-left}-#{$j} {
            left: calc(#{$j} * -100px);
        }
    }

    $class-ext-top: --top !default;
    @for $k from 1 through 120 {
        &#{$class-ext-top}-#{$k} {
            top: calc(#{$k} * -100px);
        }
    }

    .cursor {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid white;

        @for $i from 1 through 120 {
            &-x#{$i} {
                left: calc((#{$i} * 100px) - 100px);
            }
        }

        @for $i from 1 through 120 {
            &-y#{$i} {
                top: calc((#{$i} * 100px) - 100px);
            }
        }

        &--active {
            animation: cursorblink 600ms;
            animation-iteration-count: infinite;
        }
    }
}

.map-tile {

    background-size: cover;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100px;
    height: 100px;

    .tileasset {
        background-size: cover;
        height: 100px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100px;

        &_forest {
            background-image: url("/assets/img/trees.svg");
        }
        &_hill {
            background-image: url("/assets/img/hills.svg");
        }
        &_river {
            background-image: url("/assets/img/river.svg");
        }
    }

    @for $i from 1 through 120 {
        &__x-#{$i} {
            left: calc((#{$i} * 100px) - 100px);
        }
    }

    @for $i from 1 through 120 {
        &__y-#{$i} {
            top: calc((#{$i} * 100px) - 100px);
        }
    }

    &__LAND_ARCTIC {
        background-image: url("/assets/img/land_arctic.jpg");
    }

    &__LAND_BOREAL_FOREST {
        background-image: url("/assets/img/land_boreal_forest.jpg");
    }

    &__LAND_BROADLEAF_FOREST {
        background-image: url("/assets/img/land_broadleaf_forest.jpg");
    }

    &__LAND_CONIFER_FOREST {
        background-image: url("/assets/img/land_conifer_forest.jpg");
    }

    &__LAND_DESERT {
        background-image: url("/assets/img/land_desert.jpg");
    }

    &__LAND_GRASS {
        background-color: #6fbd14;
        background-image: url("/assets/img/land_grass.jpg");
    }

    &__LAND_HILLS {
        background-image: url("/assets/img/land_hills.jpg");
    }

    &__LAND_MARSH {
        background-image: url("/assets/img/land_marsh.jpg");
    }

    &__LAND_MIXED_FOREST {
        background-image: url("/assets/img/land_mixed_forest.jpg");
    }

    &__LAND_MOUNTAINS {
        background-image: url("/assets/img/land_mountains.jpg");
    }

    &__LAND_PLAINS {
        background-image: url("/assets/img/land_plains.jpg");
    }

    &__LAND_PRAIRIE {
        background-image: url("/assets/img/land_prairie.jpg");
    }

    &__LAND_RAIN_FOREST {
        background-image: url("/assets/img/land_rain_forest.jpg");
    }

    &__LAND_SAVANNAH {
        background-image: url("/assets/img/land_savannah.jpg");
    }

    &__LAND_SCRUB_FOREST {
        background-image: url("/assets/img/land_scrub_forest.jpg");
    }

    &__LAND_SWAMP {
        background-image: url("/assets/img/land_swamp.jpg");
    }

    &__LAND_TROPICAL_FOREST {
        background-image: url("/assets/img/land_tropical_forest.jpg");
    }

    &__LAND_TUNDRA {
        background-image: url("/assets/img/land_tundra.jpg");
    }

    &__LAND_WETLAND_FOREST {
        background-image: url("/assets/img/land_wetland_forest.jpg");
    }

    &__OCEAN_SHALLOW {
        background-image: url("/assets/img/ocean_shallow.svg");
    }

    &__OCEAN_DEEP {
        background-image: url("/assets/img/ocean_dark.svg");
    }

}
