// **********************************************
// COMPONENTS: Units
// Filename: _4_components_units.scss
// **********************************************

@keyframes unitblink {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.unit {
    background-size: contain;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease;
    width: 100px;
    z-index: 5;

    &__KARAVELLE {
        background-image: url("/assets/img/karavelle.svg");
    }

    $xposition: __xpos !default;
    @for $i from 1 through 120 {
        &#{$xposition}-#{$i} {
            left: calc((#{$i} - 1) * 100px);
        }
    }

    $yposition: __ypos !default;
    @for $j from 1 through 120 {
        &#{$yposition}-#{$j} {
            top: calc((#{$j} - 1) * 100px);
        }
    }

    &--active {
        animation: unitblink 1s;
        animation-iteration-count: infinite;
    }
}
