{{> templates/partials/page-anatomy/page-head }}
<body>
<div id="col-body" class="col-body">loading...</div>

{{> templates/partials/mapData }}

<script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bundle.js"></script>


</body>

{{> templates/partials/page-anatomy/page-foot }}
