{{> templates/partials/page-anatomy/page-head }}
<body>
<div id="col-body">loading...</div>



<!--<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>-->
<script src="/assets/js/react.js"></script>
<script src="/assets/js/react-dom.js"></script>
<script src="/assets/js/jquery.min.js"></script>

{{> templates/partials/mapData }}

<script type="text/javascript" src="/assets/js/unit.js"></script>
<script type="text/javascript" src="/assets/js/map.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

</body>

{{> templates/partials/page-anatomy/page-foot }}
